/* Estilos generales para los enlaces */
.nav-link,
.footer-link {
    color: rgb(180, 68, 180);
    font-size: 20px;
    text-decoration: none;
}

/* Estilos para el header */
#cabeceraIndex {
    background-color: rgb(62, 36, 159);
}

#logo {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img {
    max-width: 70px;
    height: auto;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: rgb(180, 68, 180);
    font-size: 20px;
    text-decoration: none;
}

/* Estilo para el hover en la barra de navegación */
.nav-link:hover {
    font-weight: bold;
    color: inherit;
}

/* Estilo para el hover del logotipo en la barra de navegación */
#logo img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


/* Estilos para el contenido */
#contenedorIndex {
    height: 800px;
}

#slider1 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.caja {
    width: 375px;
    height: 175px;
    margin-top: 15px;
}

.img1 {
    background-color: rgb(83, 32, 124);
}

.img2 {
    background-color: rgb(126, 29, 129);
}

#slider2 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.img3 {
    background-color: rgb(126, 68, 141);
    width: 375px;
    height: 175px;
    margin-top: 15px;
}

.img4 {
    background-color: rgb(126, 25, 126);
    width: 375px;
    height: 175px;
    margin-top: 15px;
}

.img5 {
    background-color: rgb(59, 6, 80);
    width: 375px;
    height: 175px;
    margin-top: 15px;
}

#marca {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.marca-caja {
    width: 600px;
    height: 600px;
    background-color: rgb(131, 72, 136);
}

/* Estilos para el footer */
#pieIndex {
    background-color: rgb(39, 23, 95);
    padding: 20px;
}

.contacto,
.preguntas-frecuentes {
    padding: 20px;
}

.contacto h5,
.preguntas-frecuentes h5 {
    color: rgb(180, 68, 180)
}

.contacto ul,
.preguntas-frecuentes ul {
    list-style-type: none;
    padding: 0;
}

.contacto li,
.preguntas-frecuentes li {
    margin-bottom: 10px;
    color:rgb(180, 68, 180);
}

.footer-link {
    color: rgb(180, 68, 180);
}
